
/* gives each button the blue background with white text */
button {
  display: block;
  border: none;
  cursor: pointer;
  background-color: blue;
  color: white;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

/* pushes the header quite a ways down from the top of the page and boldens the text for the landing page, all the questions, and highscore page */
h1 {
  margin-top: 10rem;
  font-weight: bold;
}

/* changes the background color acoss the entire page, adds a custom font family from google, and sets the font size */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: rgba(255, 166, 0, 0.664);
}

/* customized input field for inputting highscore name. pushes the box 10px from the element above it. */
input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2.4em;
  border: none;
}

/* makes the buttons that appear not have numbers next to them and makes the border flushed with the text */
ul {
  list-style-type: none;
  padding: 0;
}

/* makes the highscore names appear with uniform background color, and no border. */
 .list-group-item {
  border: none;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgba(255, 166, 0, 0);
  font-size: 1em;
} 



